/*This is the CSS style sheet for the HTML page*/

body {
	background: #fcd455;
	font-family: 'Baloo Bhai', cursive;
}

h1, h2 {
	text-align: center;
}

li {
	margin: 5px;
	padding: 5px;
	width: 500px;
}

ul {
	list-style: none;
}

.label {
	font-weight: bold;
}

.create-update-form {
	margin: 5px;
	padding: 5px;
	text-align: center;
}

.form-group {
	margin-bottom: 5px;
}

.eat-button {
	float: right;
}

#burger-pic {
	display:block;
	margin: 30px auto;
}

.burger-name {
	padding: 5px;
	background: #FAEBD7;
}

.btn {
	padding: 0px;
}